<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<div class="infinite-tweets">
<ul id="feed">
  <a href="#" class="fetch-more">Load More</a>
</ul>
</div>

<%= render "tweets/form" %>
